
.pranee{
		
		width:450px;
		height:100px;
		padding:25px;
		border:1px solid black;
		margin-left:150px;
		background-color:lavender;
		
	}
	
	.one {
  
  float: left;
  width: 50px;
  height: 80px;
  
  outline-style:dotted;
  
}

.two{
  
  float: left;
  width: 50px;
  height: 80px;
  margin-left: 150px;
   outline-style:dotted;

}

.three {

  float: left;
  width: 50px;
  height: 80px;
  margin-left:144px;
  outline-style:dotted;

}
